tr.selected
  background-color: blue

form
  mwc-textfield
    display: block !important

  mwc-formfield
    display: block !important

form.horizontal
  display: flex
  flex-wrap: wrap
  justify-content: center

  mwc-textfield, mwc-select
    width: 180px
    margin: 16px 8px

.filter-container
  width: 98%
  padding-top: 12px
  margin: 0 auto

  @media screen and (max-width: 700px)
    td, th
      display: inline-block

  @media screen and (max-width: 300px)
    mwc-textfield, mwc-select
      max-width: 300px
      margin: 0 8px

.clickable:hover
  background-color: rgba(0, 0, 0, 0.07)
  text-decoration: underline

.clickable
  cursor: pointer

.row:last
  margin-bottom: 0

.nav-wrapper
  .sidenav-trigger
    margin: 0 0 0 18px

.loader-container
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  position: fixed
  display: none
  align-items: center
  justify-content: center
  background-color: white
  background-color: rgba(255, 255, 255, 0.5)
  z-index: 1000000

div small.error
  font-size: 110%
  color: #F44336

body #toast-container
  min-width: 100%
  top: auto
  bottom: 0
  right: 0
  left: 0
  display: block
  position: fixed
  z-index: 10000

.fixed-actions
  bottom: 0
  right: 0
  margin-bottom: 12px
  margin-right: 12px
  position: fixed
  z-index: 1001

h4.col
  padding-left: 8px

@keyframes slidein
  from
    bottom: -64px

  to
    bottom: 16px

.bottom
  position: fixed
  z-index: 10000
  animation-duration: 1s
  animation-name: slidein
  bottom: 16px
  right: 64px
  left: 50%
  transform: translateX(-50%)

.bottom.bar
  bottom: 0
  padding: 8px
  left: 64px
  right: 64px
  border: 1px solid #e0e0e0
  border-bottom: none
  background-color: white

.bottom.btn
  bottom: 16px
  right: 64px
  left: 50%
  transform: translateX(-50%)
