{% if not request.user.is_authenticated() %}
<li class="nav-item">
  <a class="nav-link" href="{{ url('login') }}">{{ _('Login') }}</a>
</li>
{% else %}
  <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user fa-fw" aria-hidden="true"></i>{{ request.user }}</a>
    <div class="dropdown-menu" aria-labelledby="dropdown01">
      <a class="dropdown-item" href="{{ url('logout') }}">{{ _('Logout') }}</a>
    </div>
  </li>
{% endif %}
