<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ static('favicon.ico') }}">

    <title>{% block title %}{{ view.title }}{% endblock %} {% if settings.SITE_TITLE %}- {{ settings.SITE_TITLE }}{% endif %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ static('crudlfap/bootstrap-material-design.min.css') }}" rel="stylesheet">

    <!-- Font-Awesome -->
    <link href="{{ static('crudlfap/font-awesome.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ static('crudlfap/style.css') }}" rel="stylesheet">

    {% block extra_style %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      {% if settings.SITE_NAME %}
      <a class="navbar-brand" href="#">{{ settings.SITE_NAME }}</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          {% for model, router in Router.registry.items() %}
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" id="dropdown-{{ router.model._meta.model_name }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ model._meta.verbose_name_plural }}</a>
              <div class="dropdown-menu" aria-labelledby="dropdown-{{ router.model._meta.model_name }}">
              {% for view in router.get_menu() %}
                <a class="dropdown-item" href="{{ view.reverse() }}" title="{% if view.title %}{{ view.title }}{% endif %}"><i class="fa fa-fw fa-{{ view.get_fa_icon() }}"></i>{{ _(view.slug|capfirst) }}</a>
              {% endfor %}
              </div>
          </li>
          {% endfor %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <ul class="navbar-nav">
          {% include 'crudlfap/_menu_user.html' %}
          {% if request.user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">CRUDLFA+</a>
            <div class="dropdown-menu" aria-labelledby="dropdown01">
              <a class="dropdown-item" href="{{ url('crudlfap_urls') }}">URLs</a>
            </div>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block before_container %}
    {% endblock %}

    <div class="container">
      {% block content %}
      {% endblock %}

      <hr>

      <footer>
        <p>&copy; Company 2017</p>
      </footer>
    </div> <!-- /container -->

    {% block after_container %}
    {# i wish you put some super elegant hack here #}
    {% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ static('crudlfap/jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{{ static('crudlfap/jquery-3.2.1.slim.min.js') }}"><\/script>')</script>
    <script src="{{ static('crudlfap/popper.js') }}"></script>
    <script src="{{ static('crudlfap/bootstrap-material-design.js') }}"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="{{ static('crudlfap/ie10-viewport-bug-workaround.js') }}"></script>
  </body>
</html>
