{% extends base %}

{% block before_container %}
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">Welcome {{ request.user }} to CRUDFLAP+ for Django 2.0 !</h1>
        <p>
        The time has come for 2017, upgrade your productivity with CRUDLFAP+ for Django 2.0.
        </p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

{% endblock %}

{% block content %}
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Produce more</h2>
          <p>Use your brain to find the best patterns to automate as much as possible of your work in 2017</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Welcome in 2017</h2>
          <p>You are taking the train to 2017</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>
{% endblock %}
