div small._1adlsw-EJ0FYZWmJH2NKBI {
  font-size: 110%;
  color: #F44336; }

body.ziFuaB_Tn4GQRbjfqI3A1 div._2Vl2rfzICAltVjLrOJvQNy {
  margin-bottom: 100px;
  padding-left: 0;
  padding-right: 0;
  width: 100%; }

body._1HGixPxiKQkpOf1n5-6nMf div._2Vl2rfzICAltVjLrOJvQNy {
  margin-bottom: 50px; }

body #_1GqM-xsPA5Il8gSElVa71o {
  min-width: 100%;
  top: auto;
  bottom: 0;
  right: 0;
  left: 0;
  display: block;
  position: fixed;
  z-index: 10000; }

.V_3Keqe49YH2be0ob_xUG {
  bottom: 0;
  right: 0;
  margin-bottom: 12px;
  margin-right: 12px;
  position: fixed;
  z-index: 999; }

#_2sXCdIO-SGiKc2SyuCcays > h4 {
  padding-top: 24px;
  padding-left: 24px; }
._16N7otiFwvmOsGPB8oAt9n {
  bottom: 0;
  left: 0;
  pointer-events: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

._3SV_uZxJ4tbBnx1u-KIq7h {
  background-color: currentColor;
  border-radius: 50%;
  left: 50%;
  pointer-events: none;
  position: absolute;
  top: 50%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition-duration: 800ms;
          transition-duration: 800ms;
  z-index: 100; }

._3SV_uZxJ4tbBnx1u-KIq7h._2OZWaagQye9x0hdC0Y6ekn {
  opacity: 0.3;
  -webkit-transition-property: none;
  transition-property: none; }

._3SV_uZxJ4tbBnx1u-KIq7h._3O2Ue7k9whgN9RMHyLN5w- {
  opacity: 0.3;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform; }

._3SV_uZxJ4tbBnx1u-KIq7h:not(._3O2Ue7k9whgN9RMHyLN5w-):not(._2OZWaagQye9x0hdC0Y6ekn) {
  opacity: 0;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform; }
._2AgdxWh4bBWtTWssc8xWgA {
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 0;
  cursor: pointer;
  display: inline-block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: 0;
  line-height: 36px;
  outline: none;
  padding: 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
  white-space: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

._2AgdxWh4bBWtTWssc8xWgA *,
._2AgdxWh4bBWtTWssc8xWgA *::after,
._2AgdxWh4bBWtTWssc8xWgA *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none; }

._2AgdxWh4bBWtTWssc8xWgA > input {
  height: 0.1px;
  margin: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 0.1px;
  z-index: 0; }

._2AgdxWh4bBWtTWssc8xWgA::-moz-focus-inner {
  border: 0; }

._2AgdxWh4bBWtTWssc8xWgA > span:not([data-react-toolbox='tooltip']) {
  display: inline-block;
  line-height: 36px;
  vertical-align: middle; }

._2AgdxWh4bBWtTWssc8xWgA > svg {
  display: inline-block;
  fill: currentColor;
  font-size: 120%;
  height: 36px;
  vertical-align: top;
  width: 1em; }

._2AgdxWh4bBWtTWssc8xWgA > * {
  pointer-events: none; }

._2AgdxWh4bBWtTWssc8xWgA > ._3AVBixZJNGV-1lfYgmPw05 {
  overflow: hidden; }

._2AgdxWh4bBWtTWssc8xWgA[disabled] {
  color: rgba(0, 0, 0, 0.26);
  cursor: auto;
  pointer-events: none; }

._2GH_LI4rc7m8NorYqCvZVn {
  border-radius: 2px;
  min-width: 90px;
  padding: 0 12px; }

._2GH_LI4rc7m8NorYqCvZVn ._3aBSXDLwWQlahSYW8it9sM {
  font-size: 120%;
  margin-right: 6px;
  vertical-align: middle; }

._2GH_LI4rc7m8NorYqCvZVn > svg {
  margin-right: 5px; }

._1ZxqC96o8qBvC9ySoFRI6L[disabled] {
  background-color: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12); }

._1ZxqC96o8qBvC9ySoFRI6L:active {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12); }

._1ZxqC96o8qBvC9ySoFRI6L:focus:not(:active) {
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36);
          box-shadow: 0 0 8px rgba(0, 0, 0, .18), 0 8px 16px rgba(0, 0, 0, .36); }

._221icDvlNymyEe_s0CwOP3 {
  -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14),
    0 3px 1px -2px rgba(0, 0, 0, .2),
    0 1px 5px 0 rgba(0, 0, 0, .12); }

._1jWAQA6f3kwuZ26dNgdyjT {
  background: transparent; }

._3IRMZ7-nIrsygAy_C4oKbu {
  border-radius: 50%;
  -webkit-box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
          box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, .12), 0 1px 1px 0 rgba(0, 0, 0, .24);
  font-size: 24px;
  height: 56px;
  width: 56px; }

._3IRMZ7-nIrsygAy_C4oKbu ._3aBSXDLwWQlahSYW8it9sM:not([data-react-toolbox='tooltip']) {
  line-height: 56px; }

._3IRMZ7-nIrsygAy_C4oKbu > ._3AVBixZJNGV-1lfYgmPw05 {
  border-radius: 50%; }

._3IRMZ7-nIrsygAy_C4oKbu._2DCN-0B2JdGe3j8HNidnH2 {
  font-size: 17.77778px;
  height: 40px;
  width: 40px; }

._3IRMZ7-nIrsygAy_C4oKbu._2DCN-0B2JdGe3j8HNidnH2 ._3aBSXDLwWQlahSYW8it9sM {
  font-size: 17.77778px;
  line-height: 40px; }

.hC5Z2BVICyLwQzG7NjBgR {
  background: transparent;
  border-radius: 50%;
  vertical-align: middle;
  width: 36px; }

.hC5Z2BVICyLwQzG7NjBgR > ._3aBSXDLwWQlahSYW8it9sM,
.hC5Z2BVICyLwQzG7NjBgR svg {
  font-size: 20px;
  line-height: 36px;
  vertical-align: top; }

.hC5Z2BVICyLwQzG7NjBgR > ._3AVBixZJNGV-1lfYgmPw05 {
  border-radius: 50%; }

._3tTAWEo9M_g3OKahUxaFz1:not([disabled])._221icDvlNymyEe_s0CwOP3,
._3tTAWEo9M_g3OKahUxaFz1:not([disabled])._3IRMZ7-nIrsygAy_C4oKbu {
  background: rgb(63, 81, 181);
  color: rgb(255, 255, 255); }

._3tTAWEo9M_g3OKahUxaFz1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT,
._3tTAWEo9M_g3OKahUxaFz1:not([disabled]).hC5Z2BVICyLwQzG7NjBgR {
  color: rgb(63, 81, 181); }

._3tTAWEo9M_g3OKahUxaFz1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:focus:not(:active), ._3tTAWEo9M_g3OKahUxaFz1:not([disabled]).hC5Z2BVICyLwQzG7NjBgR:focus:not(:active) {
  background: rgba(63, 81, 181, 0.2); }

._3tTAWEo9M_g3OKahUxaFz1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:hover {
  background: rgba(63, 81, 181, 0.2); }

._2wp6F0vqtlAxrZwhcppoKI:not([disabled])._221icDvlNymyEe_s0CwOP3,
._2wp6F0vqtlAxrZwhcppoKI:not([disabled])._3IRMZ7-nIrsygAy_C4oKbu {
  background: rgb(255, 64, 129);
  color: rgb(255, 255, 255); }

._2wp6F0vqtlAxrZwhcppoKI:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT,
._2wp6F0vqtlAxrZwhcppoKI:not([disabled]).hC5Z2BVICyLwQzG7NjBgR {
  color: rgb(255, 64, 129); }

._2wp6F0vqtlAxrZwhcppoKI:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:focus:not(:active), ._2wp6F0vqtlAxrZwhcppoKI:not([disabled]).hC5Z2BVICyLwQzG7NjBgR:focus:not(:active) {
  background: rgba(255, 64, 129, 0.2); }

._2wp6F0vqtlAxrZwhcppoKI:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:hover {
  background: rgba(255, 64, 129, 0.2); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._221icDvlNymyEe_s0CwOP3,
._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._3IRMZ7-nIrsygAy_C4oKbu {
  background-color: rgb(255, 255, 255);
  color: rgb(33, 33, 33); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT,
._2CPs4al7EpT8lVCbBS9xF1:not([disabled]).hC5Z2BVICyLwQzG7NjBgR {
  color: rgb(33, 33, 33); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:focus:not(:active), ._2CPs4al7EpT8lVCbBS9xF1:not([disabled]).hC5Z2BVICyLwQzG7NjBgR:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._1jWAQA6f3kwuZ26dNgdyjT:hover {
  background: rgba(33, 33, 33, 0.2); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF._221icDvlNymyEe_s0CwOP3,
._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF._3IRMZ7-nIrsygAy_C4oKbu {
  background-color: rgb(33, 33, 33);
  color: rgb(255, 255, 255); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF._1jWAQA6f3kwuZ26dNgdyjT,
._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF.hC5Z2BVICyLwQzG7NjBgR {
  color: rgb(255, 255, 255); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF._1jWAQA6f3kwuZ26dNgdyjT:focus:not(:active), ._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF.hC5Z2BVICyLwQzG7NjBgR:focus:not(:active) {
  background: rgba(33, 33, 33, 0.2); }

._2CPs4al7EpT8lVCbBS9xF1:not([disabled])._2SPZrzR13EBJg0fC_UeyLF._1jWAQA6f3kwuZ26dNgdyjT:hover {
  background: rgba(33, 33, 33, 0.2); }

._2CPs4al7EpT8lVCbBS9xF1._2SPZrzR13EBJg0fC_UeyLF[disabled] {
  background-color: rgba(0, 0, 0, 0.08);
  color: rgba(0, 0, 0, 0.54); }
._2LA9xJvEiZnvRmlEJalPuX {
  background-color: rgb(0, 0, 0);
  bottom: 0;
  height: 100vh;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  top: 0;
  -webkit-transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw; }

._2LA9xJvEiZnvRmlEJalPuX._1mb5R6Ke2XdDSlKyoBpyfY {
  opacity: 0.6;
  pointer-events: all; }
/* Orientation */

/* Devices (defined by max width) */

/* Devices (defined by min-width) */

._3nrqpvrLDHSBDgMip9mUC3 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

._3nrqpvrLDHSBDgMip9mUC3 *,
._3nrqpvrLDHSBDgMip9mUC3 *::after,
._3nrqpvrLDHSBDgMip9mUC3 *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  -webkit-touch-callout: none; }

._3lw90hJG_GDHDB-NvqvCwc {
  background-color: rgb(255, 255, 255);
  border-radius: 2px;
  -webkit-box-shadow: 0 19px 60px rgba(0, 0, 0, .3), 0 15px 20px rgba(0, 0, 0, .22);
          box-shadow: 0 19px 60px rgba(0, 0, 0, .3), 0 15px 20px rgba(0, 0, 0, .22);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 96vh;
  max-width: 96vw;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: translateY(-40px);
          transform: translateY(-40px);
  -webkit-transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1), transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.35s cubic-bezier(0.4, 0, 0.2, 1), transform 0.35s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-delay: 0.07s;
          transition-delay: 0.07s; }

._3lw90hJG_GDHDB-NvqvCwc._3ea_15-G6-1snaLhALUnye {
  opacity: 1;
  -webkit-transform: translateY(0%);
          transform: translateY(0%); }

._38VTTlH6gqkCtKOcadbP6f {
  width: 30vw; }

@media screen and (max-width: 720px) {
  ._38VTTlH6gqkCtKOcadbP6f {
    width: 50vw; } }

@media screen and (max-width: 600px) {
  ._38VTTlH6gqkCtKOcadbP6f {
    width: 75vw; } }

._1K3izh6zujdsCOa96dfBMY {
  width: 50vw; }

@media screen and (max-width: 600px) {
  ._1K3izh6zujdsCOa96dfBMY {
    width: 96vw; } }

._10LcPZn5M074qqPFKOq7hO {
  width: 96vw; }

._3tLXQe4XLzYEHS-VYoxnkC {
  width: 96vw; }

@media screen and (max-width: 600px) {
  ._3tLXQe4XLzYEHS-VYoxnkC {
    border-radius: 0;
    max-height: 100vh;
    max-width: 100vw;
    min-height: 100vh;
    width: 100vw; } }

._2J-aP90fppafQgKbNyQD5V {
  color: rgb(0, 0, 0);
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1;
  margin: 0 0 16px; }

._1IvuqgBElReYTpNQUZ_vfT {
  color: rgb(117, 117, 117);
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  padding: 24px; }

._1IvuqgBElReYTpNQUZ_vfT p {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 24px;
  margin: 0; }

.wgwdjjmMApvwRe0qrS49D {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  padding: 8px;
  text-align: right; }

._22_c63kGfJwvjPAlwBSbBb {
  margin-left: 8px;
  min-width: 0;
  padding-left: 8px;
  padding-right: 8px; }

/*# sourceMappingURL=crudlfap.css.map*/