{% if view.model %}
  {% set v = Router.registry[view.model]['list']() %}
  {% if v.allow(request.user) %}
  <li>
    <a
      class="breadcrumb-item"
      data-ajax="{{ v.ajax }}"
      href="{{ v.reverse() }}"
    >{{ v.model._meta.verbose_name_plural.capitalize() }}</a>
  </li>
  {% endif %}
{% endif %}
{% if object %}
  <li>
    <a class="breadcrumb-item" href="{{ object.get_absolute_url() }}">{{ object }}</a>
  </li>
{% endif %}
{% if view.slug %}
  <li>
    <span class="breadcrumb-item active">{{ _(view.slug).capitalize() }}</span>
  </li>
{% endif %}
