<!DOCTYPE html>
<html>
  <head>
    <link href="{{ static ('material/fonts/material-design-icons/material-icons.css') }}" rel="stylesheet">
    <link href="{{ static ('crudlfap/materialize/css/materialize.css') }}" rel="stylesheet">
    <link href="{{ static ('material/css/materialize.forms.css') }}" rel="stylesheet">
    <link href="{{ static ('material/css/jquery.datetimepicker.css') }}" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="{{ static('crudlfap/style.css') }}" rel="stylesheet">
    {{ render_bundle('crudlfap') }}

    {% block extra_style %}{% endblock %}
  </head>

  <body class="{% block body_class %}{% endblock %}">
    {% include 'crudlfap/_menu_main.html' %}
    <div id="ajax-container">
      {% block breadcrumb %}
      {% endblock %}

      <div id="page">
        {% block before_container %}{% endblock %}

        <div id="page-container" class="container">
          <div id="messages">
            {% include 'crudlfap/_messages.html' %}
          </div>

          {% block content_open %}
          <div id="modal-body-ajax">
          {% endblock %}

            {% block title_heading %}
              {% if getattr(view, 'get_title_heading', None) %}
              <h2
                id="modal-title-ajax"
                class="text-{{ view.style|default('default') }} hide-in-modal"
              >
              {{ view.get_title_heading() }}
              <span class="hide-in-modal">
                {% include 'crudlfap/_object_menu.html' %}
              </span>
              </h2>
            {% endif %}
            {% endblock %}

            {% block form_open %}{% endblock %}
            {% block content %}{% block form %}{% endblock %}{% endblock %}
            {% block buttons %}{% endblock %}
            {% block form_close %}{% endblock %}

          {% block content_close %}
          </div>
          {% endblock %}
        </div>
      </div>
    </div>

    <div class="container">
      <hr>
      <footer id="footer">
        <p>&copy; Company 2017</p>
      </footer>
    </div>


    <div id="modal" class="modal fade"tabindex="-1" role="dialog" aria-labelledby="modal-label">
      <div class="modal-content">
        <h4 class="modal-title"></h4>
        <div class="modal-body">
        </div>
      </div>
    </div>

    {% block after_container %}
    {# i wish you put some super elegant hack here #}
    {% endblock %}

    <script type="text/crudlfap-state" id="ajax-state">
    {
        "url": "{{ request.get_full_path() }}",
        "style": "{{ view.style|default("default") }}",
        "ajax": "{{ view.ajax|default("#ajax-container") }}",
        "debug": "{{ settings.DEBUG }}"
    }
    </script>
    <script src="{{ static('crudlfap/jquery-3.2.1.min.js') }}" crossorigin="anonymous"></script>
    <script src="{{ static('material/js/jquery.datetimepicker.full.js') }}" crossorigin="anonymous"></script>
    <script src="{{ static('material/js/jquery.formset.js') }}" crossorigin="anonymous"></script>
    <script src="{{ static('crudlfap/materialize/js/materialize.js') }}" crossorigin="anonymous"></script>
    <script src="{{ static('material/js/materialize.forms.js') }}" crossorigin="anonymous"></script>
    <script src="{{ static('crudlfap/script.js') }}" crossorigin="anonymous"></script>
  </body>
</html>
