<!DOCTYPE html>
{%- import 'crudlfap.html' as crudlfap %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="turbolinks-cache-control" content="no-cache">
    <link rel="canonical" href="{{ view.url }}" />
    <link rel="icon" href="{{ static('favicon.ico') }}">

    <title>{% block title %}{{ view.title_html }}{% endblock %} {% if settings.SITE_TITLE %}- {{ crudlfap_site.title }}{% endif %}</title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fengyuanchen.github.io/viewerjs/css/viewer.css" />

    <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    {% block bundles %}
      {% block style_bundle %}
      <link href="{{ static('crudlfap.css') }}" rel="stylesheet">
      {% endblock %}

      {% block script_bundle %}
      <script src="{{ static('crudlfap.js') }}" defer></script>
      {% endblock %}
    {% endblock %}

    {% block extra_style %}{% endblock %}
  </head>

  <body class="mdc-typography {% block body_class %}{{ view.body_class|default('') }}{% endblock %}">
    <div id="root">
	  <div class="top-app-bar__frame">
	    <div class="drawer-container-flex">
          {% include 'crudlfap/_aside.html' %}
          {% include 'crudlfap/_header.html' %}
	      <div class="mdc-top-app-bar--fixed-adjust">
			{% block content %}{% endblock %}
	      </div>
	    </div>
	  </div>
    </div>
  </body>
</html>
