<div class="modal-content panel-{{ view.style|default('default') }}">
  <div class="modal-header panel-heading">
      <h4 class="modal-title text-{{ view.style|default('default') }}">{% block title %}{{ view.title|default('') }}{% endblock %}</h4>

    <span class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% block form_open %}{% endblock %}
  <div class="modal-body">
    {% block messages %}
      {% include 'crudlfap/_messages.html' %}
    {% endblock %}

    {% block content %}{% endblock %}
  </div>

  <div class="modal-footer">
    {% block buttons %}{% endblock %}
  </div>
  <input type="hidden" name="_base" value="modal" />
  {% block form_close %}{% endblock %}
</div>

{% block script %}{% endblock %}
