{% extends base %}

{% block form_open %}
<form
    action="{{ request.get_full_path() }}"
    method="post"
    enctype="multipart/form-data"
    {% if form is defined %}
    class="{% if request.method == 'POST' and form.errors or form.non_field_errors %}form-invalid{% endif %}"
    {% endif %}
>
    <input type="hidden" name="_next" value="{{ request.GET.get('_next', None) or request.POST.get('_next', None) or request.META.get('HTTP_REFERER', '') }}" />
    {% csrf_token %}
{% endblock %}

{% block content %}
    <div class="form-loading" style="display: none">
        {{ _('Data upload progress') }}
        <br />
        <progress></progress>
    </div>
    {{ render_form(form) }}
{% endblock %}

{% block buttons %}
    {{ bootstrap_button(_('Submit'), button_type="submit", button_class="btn-primary") }}
</form>
{% endblock %}

{% block form_close %}
</form>
{% endblock %}
