{% extends 'base.html' %}

{% import 'crudlfap.html' as crudlfap %}

{% block breadcrumb %}
{% include 'crudlfap/_breadcrumb_object.html' %}
{% endblock %}

{% block after_container %}
{{ super() }}
<div style="display: none" class="bottom center-align" id="listaction">
  {{ crudlfap.dropdown(
    view.listactions,
    'listaction-dropdown',
    class='btn waves-effect waves-light',
    text='select',
    iclass='left',
  ) }}
</div>
{% endblock %}

{% block content %}
<style type="text/css">
#render-table .btn-floating { margin-left: 6px; }
</style>
<link rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css">

<div class="filter-container">
  {% if view.search_form or view.filterset %}
  <form method="get" action="" data-controller="autosubmit" data-target="render-table" data-action="input->autosubmit#input change->autosubmit#input" class="outlined horizontal">
    {% if view.form_component %}
    <mwc-icon title="Filter the list with the following selectors" style=" --mdc-icon-size: 36px; display: flex; align-items: center">filter_list</mwc-icon>
    {{ view.form_component.to_html()|safe() }}
    {% endif %}
  </form>
  {% endif %}

  <div id="render-table">
    <div>
      {% block before_table %}{% endblock %}
      {% if view.table %}
      <div class="table-container">
        {{ view.table.as_html(request) }}
      </div>
      {% else %}
        {{ _('That page contains no results') }}
      {% endif %}
      {% block after_table %}{% endblock %}
      {% include 'crudlfap/_pagination.html' %}
    </div>
  </div>
</div>
{% endblock %}
