{% extends 'crudlfap/list.html' %}

{% block content %}
<div class="row">
  <div class="col s2">
    <form method="get" action="" data-controller="autosubmit" data-target="render-table" data-action="input->autosubmit#input change->autosubmit#input">
      {{ render_form(view.search_form) }}
      {{ render_form(filter.form) }}
    </form>
  </div>

  <div class="table-responsive col s10" id="render-table">
    {{ render_table(request, table, object_list) }}
  </div>
</div>
{% include 'crudlfap/_pagination.html' %}
{% endblock %}
