/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

body.push-down .container {
    padding-top: 100px;
}

nav.breadcrumb {
    padding: 0;
    margin-top: 1rem;
    padding-left: 1em;
    padding-right: 1em;
}

nav.breadcrumb .breadcrumb-item {
    padding-top: 0.3125em;
}

nav.breadcrumb .btn {
    margin-bottom: 0;
}

.django-filter .form-group {
    display: inline-block;
}

#page-container {
    margin-top: 33px;
}

progress {
    width: 100%;
}
