/* open sidenav by default on large screens */
header, #page, footer, .nav-wrapper {
  padding-left: 300px;
}

@media only screen and (max-width : 992px) {
  header, #page, footer, .nav-wrapper {
    padding-left: 0;
  }
}

.nav-wrapper {
  margin-left: 5%;
}

#menu-toggle {
  float: left;
}

#menu-toggle {
  margin: 12px 12px 0 22px ;
  color: white;
}

@media only screen and (max-width : 601px) {
  #menu-toggle {
    margin: 8px 8px 0 18px ;
  }
}

.container {
  width: 90%;
  max-width: none;
}

.django-filter .form-group {
    display: inline-block;
}

#page-container {
    margin-top: 33px;
}

progress {
    width: 100%;
}

ul.breadcrumb {
    display: inline-block;
}

#modal .hide-in-modal {
    display: none;
}
